.trumbowyg-box{
    margin-left: 15px;
}
.cat_part{
    margin-top: 5px;
}
.success{
    margin-left: 20px;
    color: darkgreen;
    font-size: 20px;
}
.modal_btn{
    margin-bottom: 10px;
    margin-left: 20px;
}