.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
} 
.uplbtn{
    margin-right: 3px;
}
.savebtn{
    margin-bottom: 8px;
}